# python environment specific
*.pyc
.idea/*
GUI/.idea/*
GUI/__pycache__/*
scripts/.idea/*
scripts/__pycache__/*

# jupyter related
.ipynb_checkpoints/*

test_project
dist
build
scAnt.spec
spinnaker_python-2.7.0.128-cp37-cp37m-win_amd64.whl
session_info.yml